.d-flex {
    display: flex;
}

.c-iris {
    color: $iris;
}

.maxw-1160 {
    max-width: 1160px;
}

.m-auto {
    margin: 0 auto;
}

.fs-20 {
    font-size: 20px !important;
}

.m-top-120 {
    margin-top: 120px !important;
}

.m-top-240 {
    margin-top: 240px !important;
}

.d-none {
    display: none;
}