@font-face {
    font-family: 'Roboto Medium';
    src: url('./fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Raleway ExtraBold';
    src: url('./fonts/Raleway-ExtraBold.ttf');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('./fonts/Roboto-Bold.ttf');
}

body {
    height: 100%;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

$navy-blue: #2E2F42;
$slate: #434455;
$fff: #fff;
$corn-flower: #E7E9FC;
$iris: #4D5AE5;
$cloud: #F4F4FD;

@mixin raleway {
    font-family: 'Raleway ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
@mixin roboto-16-500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: $navy-blue;
    letter-spacing: 0.02em;
}
@mixin roboto-16-400 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: $slate;
    letter-spacing: 0.02em;
}
@mixin roboto-h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 56px;
    color: $fff;
    letter-spacing: 0.02em;
    text-align: center;
}
@mixin roboto-h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    color: $navy-blue;
    text-align: center;
}
@mixin roboto-h3 {
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: $navy-blue;
    letter-spacing: 0.02em;
}
@mixin list {
    column-gap: 24px;
    margin-top: 72px;
    display: flex;
}

.wrapper {
    min-height: 100vh;
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.c-iris {
    color: $iris;
}

.maxw-1160 {
    max-width: 1160px;
}

.m-auto {
    margin: 0 auto;
}

.fs-20 {
    font-size: 20px !important;
}

.m-top-120 {
    margin-top: 120px !important;
}

.m-top-240 {
    margin-top: 240px !important;
}

.header {
    flex: 1 1 auto;
    margin-top: 24px;
    justify-content: space-between;
        .navContacts {
            column-gap: 40px;
            span {@include roboto-16-400;}
        }
        .navMenu {
            align-items: baseline;
            column-gap: 40px;
        
            .navItem a {
                @include roboto-16-500;
                border-bottom: 1px solid transparent;
                transition-duration: 300ms;
                &:hover {
                    color: $iris;
                    border-bottom: 1px solid $iris;
                }
            }
            .navLogo {margin-right: 40px;}
            .navLogo span {@include raleway}
        }
}

.hero {
    background: $navy-blue;
    padding: 188px 700px;
    margin-top: 24px;

        .mainBtn {
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            background: $iris;
            width: 169px;
            height: 56px;
            border: 1px solid transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $fff !important;
            @include roboto-16-500;
            margin: 0 auto;
            transition-duration: 300ms;

            &:hover {
                background: transparent;
                cursor: pointer;
            }
        }
}

.mainHeading {
    @include roboto-h1;
}

.mainList  {
    column-gap: 24px;
    margin: 0 auto;
        .listItem h3 {@include roboto-h3}
        .listItem p {@include roboto-16-400}
}

.footer {
    background: $navy-blue;
    padding: 138px 0px 100px 394px;

        h2 {@include raleway;}
        p {
            @include roboto-16-400;
            color: $fff !important;
        }
}

.sectionHeading {@include roboto-h2;}

.aboutList {
    @include list
}

.teamList {
    @include list;

        li {
            text-align: center;
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
            border-radius: 0px 0px 4px 4px;
            -webkit-border-radius: 0px 0px 4px 4px;
            -moz-border-radius: 0px 0px 4px 4px;
            -ms-border-radius: 0px 0px 4px 4px;
            -o-border-radius: 0px 0px 4px 4px;
            padding-bottom: 32px;

            h3 {@include roboto-h3}
            p {@include roboto-16-400}
        }
}